!!!
%html{ lang: "en" }
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = favicon_link_tag
    <!--[if IE]>
    = stylesheet_link_tag "ie"
    <![endif]-->
    -#= javascript_include_tag "vendor/modernizr"
    <script src="http://foundation.zurb.com/docs/assets/js/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  %body{ id: body_id }
    = render 'layouts/top_navigation'
    %article.row
      .large-12.columns
        = yield

    = render 'layouts/footer'
    = javascript_include_tag "application"
    :javascript
      #{google_analytics}
